[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2"
djangorestframework = "==3.16.0"
django-cors-headers = "==4.7.0"
django-environ = "==0.12.0"
psycopg2 = "==2.9.10"
pyjwt = "==2.10.1"
requests = "*"
cryptography = "==44.0.2"
supabase = "<3.0.0,>=2.0.0"
django-extensions = "*"
django-filter = "*"
xlsxwriter = "==3.1.9"
reportlab = "==4.0.7"
channels = "*"
channels-redis = "*"
django-redis = "==5.4.0"
django-compression-middleware = "*"

[dev-packages]

[requires]
python_version = "3.12"
