[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.104.1"
requests = "==2.31.0"
python-multipart = "==0.0.6"
uvicorn = {extras = ["standard"], version = "==0.24.0"}
pydantic = {extras = ["email"], version = "==2.5.0"}
python-dotenv = "*"
httpx = "*"

[dev-packages]

[requires]
python_version = "3.12"
