@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

* {
 font-family: 'IBM Plex Sans Arabic', sans-serif;
}